<%- include('partials/header'); -%>
<h1>404</h1>
<p>The page you are looking for cannot be found.</p>
<button type="button" class="btn btn-lg home-btn" onclick="location.href='/'">Return Home</button>
<%- include('partials/footer'); -%>
