<%- include('partials/header'); -%>
<h1>About</h1>
<p>Easy Open Journal allows users to create text style blog posts anonymously. Other users can view all blog posts on the Home page.</p>
<p>These posts are then saved to a MongoDB database and can be accessed through dynamic URLs using Express routing parameters.</p>
<p>See the source code and other projects on my Github or reach out to me on LinkedIn!</p>
<a href="https://github.com/gjersing"><i class="fa-brands fa-github social"></i></a>
<a href="https://www.linkedin.com/in/gjersing/"><i class="fa-brands fa-linkedin social"></i></a>
<%- include('partials/footer'); -%>
